<div class="grid-container">
  <h3>Dashboard Comunidade</h3>
  <mat-grid-list [cols]="cols" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card appearance="outlined" class="dashboard-card w-100">
          <mat-card-header>
            <mat-card-title class="dashboard-card-title">
              Comunidades
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-title-large">{{dashboardData?.countCommunities?.toLocaleString()}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card appearance="outlined" class="dashboard-card w-100">
          <mat-card-header>
            <mat-card-title class="dashboard-card-title">
              Média endereços
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-title-large">{{dashboardData?.avgAddressByCommunity?.toLocaleString()}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card appearance="outlined" class="dashboard-card w-100">
          <mat-card-header>
            <mat-card-title class="dashboard-card-title">
              Usuários com comunidade
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="mat-title-large">{{dashboardData?.countUsersWithCommunity}}</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="cols" [rowspan]="2">
        <mat-card appearance="outlined" class="dashboard-card w-100">
          <mat-card-header>
            <mat-card-title class="dashboard-card-title">
              Endereços por communidade
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            @if (dashboardData) {
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
              ></apx-chart>
            }
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="cols" [rowspan]="1">
        <div class="w-100 filter-community">
          <mat-form-field>
            <mat-label>Filtrar comunidade</mat-label>
            <mat-select matNativeControl (selectionChange)="selectionChange($event)" name="community">
                @for (community of communities; track community) {
                    <mat-option [value]="community.id">{{community.name}}</mat-option>
                }
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      @if (countAddressesInCommunity$ != undefined) {
        <mat-grid-tile [colspan]="cols" [rowspan]="1">
          <mat-card appearance="outlined" class="dashboard-card w-100">
            <mat-card-header>
              <mat-card-title class="dashboard-card-title w-100">
                Endereços em comunidade
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div class="mat-title-large">{{ countAddressesInCommunity$ | async }}</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      } @else {
        <mat-grid-tile [colspan]="cols" [rowspan]="1">
          <p>
            Nenhum filtro selecionado. Escolha uma opção para exibir as informações de uma comunidade
          </p>
        </mat-grid-tile>
      }
  </mat-grid-list>
</div>
